# Object files
*.o
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# LaTeX stuff
*.aux
*.bbl
*.blg
*.idx
*.log
*.out
*.synctex.gz
*.toc
